*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1180px;
}

.spinnerPizza {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  display: grid;
  place-items: center;
  background-color: #85d37e86;
  z-index: 10000;
}

.spinner-border {
  width: 48px;
  height: 48px;
}

header {
  background-color: #1AC073;
  min-height: 800px;
}

header .container {
  max-width: 1203px;
}

header .header-menu {
  height: 80px;
  margin-bottom: 119px;
}

.header-menu nav {
  background-color: #1AC073;
}

.navbar-brand {
  font-family: 'Squada One';
  font-size: 32px;
  font-weight: 400;
  line-height: 20px;
}

.navbar-brand,
#navbarNav .nav-link {
  color: #FFFFFF !important;
  text-align: center;
}

ul.navbar-nav {
  gap: 40px;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}

.search-cart {
  width: 75px;
  height: 24px;
  gap: 32px;
}

.search-cart img {
  cursor: pointer;
}

.cart-item-count {
  top: -8px;
  left: 65px;
  min-width: 20px;
  line-height: 20px;
  font-size: 12px;
  color: #242424;
  background: #fed700;
  text-align: center;
  border-radius: 50%;
}

.hero h1 {
  font-size: 2.5rem;
  font-size: clamp(2.5rem, 1.99332rem + 2.5334vw, 4.4rem);
  line-height: 82px;
  text-align: left;
  margin-bottom: 32px;
}

.hero p {
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  margin-bottom: 40px;
}

.search-header {
  max-width: 398px;
  height: 58px;
}

.search-header.input-group .btn {
  z-index: 1;
  background-color: #F3BA00;
  border: none;
  width: 112px;
  color: #FFFFFF;
  transition: all .5s;
}

.search-header.input-group .btn:hover {
  color: black;
}

.img-header {
  background-image: url("../images/cooking.man.header.png");
  height: 436px;
  background-size: contain;
  background-repeat: no-repeat;
}

.kitchen {
  padding: 105px 0 50px;
  background-color: #F7F8FA;
}

.title-kitchen {
  font-size: 24px;
  line-height: 24px;
}

.sub-btn-group-kitchen {
  display: none;
}

.kitchen select {
  margin: 32px 0 40px;
  width: 251px;
  height: 46px;
  color: #929292;
}

.kitchen .btn-group .btn {
  --bs-btn-padding-x: 40px;
  --bs-btn-padding-y: 13px;
  --bs-btn-color: #929292 !important;
}

.kitchen .pizzaName {
  height: 48px;
}

.kitchen .gy-5 {
  --bs-gutter-y: 39px;
}

.gx-4 {
  --bs-gutter-x: 24px;
}

.kitchen-content .card {
  max-width: 277px;
}

.kitchen-content .rating,
.time {
  background-color: #F7F8FA;
  padding: 4px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}

.kitchen-content .rating {
  margin-right: 8px;
}

#addPizza {
  cursor: pointer;
  transition: all .3s;
}

#addPizza:hover {
  transform: scale(1.2);
}

#moreKitchen {
  margin-top: 100px;
  color: #929292;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  width: 172px;
  height: 46px;
}

#moreKitchen:hover {
  color: #000;
}

.blog,
.contact {
  padding-block: 100px;
}

.title-blog {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 28px;
}

.blog-content .title {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #101115;
}

.blog-content .desc {
  font-size: 12px;
  font-weight: 200;
  line-height: 15px;
  text-align: left;
}

.blog .gy-5 {
  --bs-gutter-y: 32px;
}

.blog .gx-5 {
  --bs-gutter-x: 41px;
}

.contact {
  background-color: #F7F8FA;
}

.img-contact {
  background-image: url("../images/Food_delivery_man_riding_motorcycles.png");
  background-size: 83%;
  background-repeat: no-repeat;
  background-position: 90% 58%;
}

.contact .title h5 {
  font-size: 24px;
  line-height: 24px;
  text-align: left;
  color: #101115;
}

.contact .title p {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}

.form-info {
  margin: 20px 0 32px;
}

.row.form-info>* {
  padding: 0;
}

.form-info textarea {
  height: 215px;
  resize: none;
}

.form-info input {
  height: 58px;
}

.form-info textarea::placeholder,
.form-info input::placeholder {
  color: #929292;
}

footer {
  background-color: #1AC073;
}

footer nav {
  margin-bottom: 24px;
}

footer {
  padding-bottom: 12px;
}

.footer__social img {
  cursor: pointer;
}

.copy-right {
  height: 36px;
  font-size: 12px;
  font-weight: 400;
}

.copy-right p {
  padding-top: 16px;
}

.copy-right .line {
  width: 100%;
  height: 1px;
  background-color: #fff;
}

/* ---------Cart page---------- */
.hero-cart h1 {
  font-family: ABeeZee;
  font-size: 2.5rem;
  font-size: clamp(2.5rem, 1.99332rem + 2.5334vw, 4.4rem);
  font-style: italic;
}

.breadcrumb {
  justify-content: center;
  align-items: center;
  height: 82.63px;
  background-color: #F6F7F8;
  margin-block: 105px;
  font-family: 'ABeeZee';
  font-size: 18px;
}

.breadcrumb-item a {
  text-decoration: none;
  color: #1AC073;
  font-size: 18px;
}

.qty-column {
  width: 306px;
}

.qty-cell {
  width: 117px;
  height: 46px;
  background-color: #F6F7F8;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  font-family: 'Lexend Deca';
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  margin-inline: auto;
}

.qty-cell button {
  color: #1AC073;
  font-size: 18px;
  font-weight: 700;
}

#removeItem {
  position: absolute;
  width: max-content;
  left: 50%;
  bottom: -60px;
  transform: translateX(-50%);
  color: #F20505;
  text-decoration: underline;
  font-family: 'Poppins';
  font-size: 14px;
  line-height: 21px;
  cursor: pointer;
}

#CartTableBody tr td:nth-child(n+2) {
  text-align: center;
  font-family: 'Poppins';
  font-size: 18px;
}

#CartTableBody .pizzaName {
  font-family: 'Lexend Deca';
  font-size: 18px;
  line-height: 23px;
}

#CartTableBody .pizzaDesc {
  font-family: Lexend Deca;
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
}

.productCell {
  padding: 40px;
}

.productCell div:first-child {
  padding-inline-end: 46px;
}

.redeemVoucher {
  max-width: 370px;
  height: 60px;
}

.redeemVoucher button {
  font-family: 'Lexend Deca';
  font-size: 18px;
  font-weight: 500;
  background-color: #1AC073;
  color: white;
  border: none;
  transition: all .3s;
}

.redeemVoucher button:hover {
  opacity: .8;
  background-color: #1AC073;
}

.footerCart {
  margin-top: 117px;
  font-family: 'Poppins';
  font-size: 18px;
}

.totalTable {
  max-width: 378.03px;
  margin-bottom: 312px;
}

.totalTable tr {
  height: 63px;
}

.totalTable tfoot tr {
  height: 93px;
}

.totalTable tfoot tr:first-of-type {
  border-top: 3px solid #F6F7F8;
  font-family: 'Lexend Deca';
  font-size: 30px;
  font-weight: 500;
}

.totalTable td:nth-child(2) {
  text-align: right;
}

.totalTable tfoot button {
  font-family: 'Lexend Deca';
  font-size: 18px;
  font-weight: 500;
  background-color: #1AC073;
  color: white;
  border: none;
  transition: all .3s;
  height: 68px;
}

.totalTable tfoot button:hover {
  opacity: .8;
  background-color: #1AC073;
}

#payment-modal .modal-dialog {
  max-width: 1021.5px;
}

#payment-modal .gx-5 {
  --bs-gutter-x: 74px;
}

.modal-header {
  border-bottom: none;
  position: relative;
}

.modal-header button {
  position: absolute;
  right: 0;
  top: -10px;
}

.modal-header .btn-close {
  --bs-btn-close-bg: none;
  width: 25px;
  height: 25px;
  padding: 0;
  opacity: 1;
  transition: all .3s;
}

.modal-header .btn-close:hover {
  opacity: .7;
}

.modal-header h1 {
  font-family: 'ABeeZee';
  font-size: 32px;
  line-height: 38px;
  color: #1AC073;
  flex-grow: 1;
  text-align: center;
}

.modal-content {
  padding: 80px 0 68px;
}

.modal-content-main {
  max-width: 834.13px;
  margin-inline: auto;
}

.checkout-progress {
  width: 96px;
  margin-bottom: 42px;
}

.step {
  position: relative;
}

.checkout-progress .count {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  text-align: center;
  line-height: 36px;
  color: white;
  background-color: #DFDEDE;
  font-family: 'Lexend Deca';
  font-size: 18px;
  font-weight: 700;
  z-index: 2;
  position: relative;
}

.step.active .count {
  background-color: #1AC073;
}

.step+.step::after {
  content: "";
  position: absolute;
  right: 80%;
  top: 50%;
  width: 100%;
  height: 2px;
  z-index: 1;
  background: #DFDEDE;
}

.left-col {
  width: 379px;
}

.payment-content input,
.payment-content textarea {
  background-color: #f6f6f6;
}

.payment-content textarea {
  resize: none;
}

.payment-content input::placeholder,
.payment-content textarea::placeholder {
  font-family: 'Lexend Deca';
  color: #999999;
}

.payment-method label {
  display: block;
  line-height: 40px;
  cursor: pointer;
  height: 56px;
  padding: 0 13px 0 16px;
}

.option-input {
  appearance: none;
  position: relative;
  height: 24px;
  width: 24px;
  transition: all 0.15s ease-out 0s;
  background: #f3f5f6f3;
  border: none;
  color: #1AC073;
  cursor: pointer;
  display: inline-block;
  outline: none;
  z-index: 1000;
  border: 1px solid #DFDEDE;
  border-radius: 3px;
}

.payment-method label:hover {
  background: #F0FAF7;
}

.option-input:checked {
  background: #fff;
}

label:has(input:checked) {
  background: #F0FAF7;
}

.option-input:checked::before {
  width: 24px;
  height: 24px;
  display: block;
  text-align: center;
  content: '\f00c';
  font-size: 12px;
  line-height: 24px;
  font-weight: bold;
  font-family: 'Font Awesome 5 Free';
}

.method-name {
  gap: 16px;
}

.method-name img {
  width: 24px;
}

.method-name div {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.5px;
  text-align: left;
}

.payment-method h5 {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  text-align: left;
  color: #1AC073;
  margin-bottom: 14.5px;
  margin-top: 25px;
}

.modal-footer {
  border-top: none;
  padding: 0;
  justify-content: center;
}

.modal-footer button {
  width: 338px;
  height: 70px;
  color: white;
  background-color: #1AC073;
  font-family: 'Lexend Deca';
  font-size: 24px;
  font-weight: 800;
}

.modal-footer button:hover {
  background-color: #1AC073;
  opacity: .9;
}

.successSymbol {
  box-shadow: 0px 10px 30px 0px #40BFFF3D;
  width: 130px;
  height: 129px;
  border-radius: 56px;
  background-color: #1AC073;
  color: white;
  margin-bottom: 143px;
  position: relative;
}

.successSymbol::before {
  content: '\f00c';
  font-family: 'Font Awesome 5 Free';
  width: 130px;
  height: 129px;
  display: block;
  text-align: center;
  font-size: 40px;
  line-height: 129px;
  font-weight: bold;
}

.successSymbol::after {
  content: 'Success';
  position: absolute;
  bottom: -65px;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Lexend Deca';
  font-size: 24px;
  font-weight: 700;
  color: #223263;
}

.food {
  padding-top: 0;
  padding-bottom: 37px;
  font-family: ABeeZee;
  background-color: #fff;
}

.food .container {
  max-width: 1263px;
}

.food .breadcrumb {
  margin-top: 12px;
  margin-bottom: 30px;
}

.food__header {
  background: #EAEAEAB5 url(../images/foodsBg.png);
  height: 270px;
  margin-bottom: 129px;
  background-size: cover;
  padding: 48px 50px;
  background-position: center;
  position: relative;
}

.food__header::before {
  content: '';
  inset: 0;
  position: absolute;
  background-color: #EAEAEAB5;
  z-index: 0;
}

.food__header>* {
  z-index: 1;
  position: relative;
}

.food__header h3 {
  font-size: 30px;
  line-height: 35px;
}

.food__header p {
  font-size: 14px;
  font-style: italic;
  line-height: 17px;
}

.food__header .line {
  width: 52.05px;
  height: 2.43px;
  background-color: #000000;
}

.food-main article .kitchen-content {
  min-height: 100%;
}

/* -------------FILTER----------- */
.price-filter {
  background-color: #F6F7F8;
  padding: 19px 14px 29px 20px;
  border-radius: 5px;
  margin-bottom: 31px;
}

.price-filter h5 {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}

.rangeTitle {
  font-family: Lexend Deca;
  font-size: 18px;
  line-height: 23px;
}

.priceSlider {
  position: relative;
  width: 100%;
  height: 5px;
  margin-top: 15px;
  background-color: #cbc6c67b;
}


.priceSlider .slider-track {
  height: 100%;
  position: absolute;
  background-color: #1AC073;
}

.priceSlider input {
  position: absolute;
  width: 100%;
  background: none;
  pointer-events: none;
  top: 50%;
  transform: translateY(-50%);
  appearance: none;
}

input[type='range']::-moz-range-thumb {
  -moz-appearance: none;
  height: 13px;
  width: 13px;
  border-radius: 50%;
  border: 3px solid #fff;
  background: #1AC073;
  pointer-events: auto;
  cursor: pointer;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  border: 3px solid #fff;
  background: #1AC073;
  pointer-events: auto;
  cursor: pointer;
}

.rating-filter {
  background-color: #F6F7F8;
  padding: 19px 14px 12px 20px;
  border-radius: 5px;
}

.rating-filter h5 {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  margin-bottom: 28.21px;
}

.rating-filter label {
  margin-bottom: 17.18px;
}

.rating-filter input {
  appearance: none;
  position: relative;
  height: 27px;
  width: 27px;
  transition: all 0.15s ease-out 0s;
  background: white;
  border: none;
  color: #f3f5f6f3;
  cursor: pointer;
  display: inline-block;
  outline: none;
  z-index: 10;
  border: 2px solid #C2C2C2;
  border-radius: 6px;
}

.rating-filter input:checked {
  background-color: #1AC073;
  border: none;
}

.rating-filter input:checked::before {
  width: 27px;
  height: 27px;
  display: block;
  text-align: center;
  content: '\f00c';
  font-size: 14px;
  line-height: 27px;
  font-weight: bold;
  font-family: 'Font Awesome 5 Free';
}

#page_container {
  height: 55px;
  background-color: #FAFAFB;
  margin-top: 90px;
}

.page-link {
  font-family: Lexend Deca;
  font-size: 18px;
  color: #22262A;
}

.active>.page-link {
  color: #FFFFFF;
  background-color: #1AC073;
  border-color: transparent;
}

@media screen and (max-width: 991.98px) {
  .cart-item-count {
    top: -7px;
    left: 66px;
  }

  .img-header {
    aspect-ratio: 1/1;
    background-size: 75%;
    background-position: 50% 50%;
  }

  .contact {
    padding-bottom: 0;
  }

  .img-contact {
    aspect-ratio: 3/2;
    background-size: 70%;
    background-position: 50% 50%;
  }

  .productCell {
    padding: 10px;
  }

  .productCell div:first-child {
    padding-inline-end: 10px;
  }
}

/* @media screen and (min-width: 768px) and (max-width: 991.98px) {
  #removeItem {
    bottom: 8%;
  }
} */

@media screen and (max-width: 767.98px) {
  .sub-btn-group-kitchen {
    display: flex;
  }

  .sub-btn-group-kitchen button {
    padding: 10px 0;
  }

  .main-btn-group-kitchen {
    display: none;
  }

  .productCell img.w-100 {
    width: 50% !important;
  }

  .qty-column {
    width: 240px;
  }
}

@media screen and (max-width: 575.98px) {
  .img-contact {
    background-size: 60%;
  }

  .productCell img.w-100 {
    width: 68% !important;
  }

  .qty-column {
    width: 186px;
  }
}

@media screen and (max-width: 425px) {

  #pizza-table th:nth-child(2),
  #pizza-table td:nth-child(2) {
    display: none;
  }

  #CartTableBody .pizzaName {
    font-size: 16px;
  }

  .qty-cell {
    width: 100px;
    height: 36px;
  }

  .productCell {
    padding: 0;
  }

  .productCell img.w-100 {
    width: 68% !important;
  }

  .qty-column {
    width: 33%;
  }

  #total-responsive {
    display: block !important;
    left: 50%;
    bottom: 15%;
    width: max-content;
  }

  #removeItem {
    bottom: -53px;
  }

  #CartTableBody tr td:nth-child(n+2) {
    font-size: 16px;
  }
}

@media screen and (max-width: 350px) {
  .hero {
    padding: 14px;
  }

  .header-sm-right {
    flex-grow: 1;
    justify-content: space-between;
  }
}